<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Yo.jpg" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Sebastian Gonzalez</p>
        <p>Full stack developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1>Acerca de mi</h1>
        <p>Estudiante avanzado de Antropología con interés en plataformas digitales, su diseño y la programación. Creo importante el hecho de involucrarse en los distintos sectores para tener una visión amplia a la hora de la toma de decisiones. Me encuentro motivado en trabajar en un equipo con metodologías agiles. Soy capaz de adaptarme fácilmente a los cambios que se proponen. 
        </p>
    </div>
</div>
